parameters:
	ignoreErrors:
		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Contracts\\Debug\\ExceptionHandler and ''shouldReport'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Support/HandlerDecorator.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Http\\Request and ''acceptsHtml'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Support/HandlerDecorator.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Http\\Request and ''expectsJson'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Support/HandlerDecorator.php
