includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - src
        - tests

    excludePaths:
        - vendor
        - var/cache

    reportUnmatchedIgnoredErrors: true

    ignoreErrors:
        # Add specific ignores here if needed

    phpVersion: 80200 # PHP 8.2

    parallel:
        jobSize: 20
        maximumNumberOfProcesses: 32
        minimumNumberOfJobsPerProcess: 2

    tmpDir: var/cache/phpstan
